@keyframes appear {
  from {
    opacity: 0;
  }
}

@keyframes slidein {
  from {
    bottom: -100%;
  }
}

:where(.dialog, .header, .body) {
  display: flex;
  flex-direction: column;
}

.dialog {
  animation: slidein var(--animation-duration) ease;
  position: fixed;
  border: none;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  box-shadow: 0 15px 35px -1px var(--color-text);
  margin: 0;
  margin-top: auto;
  padding: 0;
  left: 0;
  bottom: 0;
  max-height: 75vh;
  min-height: 61.8vh;
  width: 100vw;
  min-width: 100vw;
  background-color: var(--color-bg-special);
  overflow: hidden;
  z-index: 9999;
}

.dialog::backdrop {
  animation: appear var(--animation-duration) ease;
  opacity: 1;
  background-color: hsla(60, 1%, 14%, 85%);
}

.header,
.body {
  --padding: var(--space-s);

  padding: var(--padding);
}

.header {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.body {
  flex: 1 0 auto;
  border-radius: inherit;
  background-color: var(--color-bg);
  overflow-x: hidden;
  overflow-y: auto;
}

.heading {
  font-size: var(--fs-lg);
}

.close {
  --button-bg-color: var(--color-text-muted);
  --button-color: var(--color-bg-muted);
  --border-color: var(--button-bg-color);

  border-radius: 9999px;
  margin-left: auto;
  padding: var(--space-s);
  height: 44px;
  width: 44px;
  aspect-ratio: 1;
}

.close svg {
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 640px) {
  .dialog {
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--border-radius);
    bottom: 50%;
    left: 50%;
    min-height: 50vh;
    min-width: unset;
    max-width: 640px;
    transform: translateX(-50%) translateY(50%);
  }

  .header,
  .body {
    --padding: var(--space-l);
  }
}
