.wrapper {
  --padding: var(--space-m);
  --gap: var(--space-l);

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: var(--padding);
}

.info {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}

.logout {
  align-self: center;
}

@media screen and (min-width: 640px) {
  .wrapper {
    --padding: var(--space-l);
    --gap: var(--space-xxl);
  }

  .info {
    flex-direction: column;
  }

  .logout {
    align-self: flex-start;
  }
}
