.wrapper {
  position: relative;
}

.wrapper [role="alert"] {
  position: absolute;
  display: block;
  padding: var(--space-m);
  bottom: 100%;
  left: 0;
  max-width: 100%;
  background-color: var(--color-alert);
  color: var(--color-bg-muted);
}
