.label {
  position: relative;
  display: flex;
  flex-direction: column;
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--space-s) var(--space-m);
}

.label:focus-within {
  outline: var(--border-width) dotted var(--color-border);
  outline-offset: var(--border-width);
}

.input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  border: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
}

.input:active,
.input:focus {
  outline: none;
}
