.container {
  position: relative;
  margin-top: var(--space-l);
  padding-top: var(--space-l);
  padding-bottom: var(--space-l);
  background-color: var(--color-bg-special);
}

.icons {
  --bg-color: var(--color-bg-muted);
  --width: var(--fs-xxxl);
  --gap: var(--space-m);
  --margin: var(--space-l);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  margin: var(--margin) 0;
}

.icons > *:last-child {
  --bg-color: var(--color-bg-special);
}

.button {
  --button-bg-color: var(--color-text-muted);
  --button-color: var(--color-bg-special);
}

@media screen and (min-width: 640px) {
  .icons {
    --width: calc(var(--fs-xxxl) * 1.25);
    --gap: var(--space-l);
    --margin: var(--space-xl);
  }
}

/* container width */
@media screen and (min-width: 860px) {
  .container {
    border-radius: var(--border-radius);
  }
}
