.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--space-s);
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width-s);
  z-index: 1;
}

.heading {
  font-size: var(--fs-l);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: var(--ls-extended);
  color: var(--color-text-muted);
}

.wrapper {
  position: relative;
}

.error {
  position: absolute;
  display: block;
  border-radius: var(--border-radius);
  padding: var(--space-s) var(--space-m);
  bottom: calc(100% + var(--space-xs));
  left: 0;
  width: 100%;
  background-color: var(--color-alert);
  color: var(--color-bg-muted);
  font-weight: var(--font-weight-bold);
}

.error::before {
  content: "";
  position: absolute;
  border: var(--space-s) solid transparent;
  border-top-color: var(--color-alert);
  width: var(--space-m);
  top: 100%;
  right: var(--space-m);
}

.submit {
  --button-bg-color: var(--color-text-muted);
  --button-color: var(--color-bg-special);
  --border-color: var(--button-bg-color);
}

.submit:disabled {
  --button-bg-color: var(--color-bg-muted);
  --button-color: var(--color-text-muted);
  --border-color: var(--button-bg-color);
}

@media screen and (min-width: 640px) {
  .form {
    --padding: var(--space-l);
  }
}
