.wrapper {
  --gap: var(--space-m);

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-lg);
  gap: var(--gap);
}

.container {
  flex: 1 0 auto;
}

.input {
  -webkit-appearance: none;
  appearance: none;
  border: var(--border-width) solid var(--color-text);
  border-radius: 9999px;
  height: 100%;
  width: 100%;
  background-color: var(--color-text-muted);
}

.input::-webkit-slider-runnable-track,
.input::-webkit-slider-thumb,
.input::-webkit-range-track,
.input::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 9999px;
  background-color: var(--color-bg-special);
  height: 100%;
  width: auto;
  transition: background-color var(--duration) ease-in;
  aspect-ratio: 1;
}
